---
---

@import "{{ site.theme }}";

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    unicode-bidi: isolate;
}

li {
  margin-bottom: 3px;
}

body {
  font-family: "Sen", Arial, sans-serif;
  font: 14px / 1.5 "Sen", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Black", Gadget, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain */
}

a {
    color: #267CB9;
    text-decoration: underline;
}

a small {
    color: #717171;
}

a:hover, a:focus {
  color: #006699;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
}

a:hover {
  border-bottom: 4px solid #90EE90;
}

a:focus,
[tabindex]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #90EE90;
  /* Add an outline-offset if you want space between the element and the shadow */
  /* outline-offset: 2px; */
}
a:focus-visible,
[tabindex]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #90EE90;
  /* Add an outline-offset if you want space between the element and the shadow */
  /* outline-offset: 2px; */
}
