---
---

@use "{{ site.theme }}" as *;

@font-face {
    font-family: 'Sen-Regular';
    src: url('/assets/fonts/Sen-Regular.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  max-width: 740px;
  margin: auto;
  padding: 1rem 1.5rem;
  background-color: #fdfdfd;
  color: #333;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 0.6em;
}

section {
  margin-bottom: 2rem;
}

li {
  margin-bottom: 3px;
}

body {
  font-family: Arial, sans-serif;
  font: 15px / 1.6 Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sen-Regular", "Arial Black", Gadget, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain */
}

a {
  color: #267CB9;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.2s ease, font-weight 0.2s ease;
}

a:hover {
  color: #004E8A;
  font-weight: bold;
}

a small {
  color: #717171;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  unicode-bidi: isolate;
}

:root[data-theme='dark'] {
  background-color: #111;
  color: #eee;
}
:root[data-theme='dark'] a {
  color: #81d4fa;
}

ul {
  padding-left: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ul li {
  margin-bottom: 0.3em;
}

a:hover, a:focus {
  color: #006699;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
}

a:hover {
  border-bottom: 4px solid #90EE90;
}

a:focus,
[tabindex]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #90EE90;
  /* Add an outline-offset if you want space between the element and the shadow */
  /* outline-offset: 2px; */
}
a:focus-visible,
[tabindex]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #90EE90;
  /* Add an outline-offset if you want space between the element and the shadow */
  /* outline-offset: 2px; */
}
