<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="Mike Gifford">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.logo | relative_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script>
      const mode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
      document.documentElement.setAttribute("data-theme", mode);
    </script>
    
    <link rel="preload" href="/assets/fonts/Sen-Regular.woff2" as="font" type="font/woff2" crossorigin>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" fetchpriority="high">
    
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
<figure>
{% if site.logo %}
  <a href="/media/Open_UK_SOOC250460.jpg"><img src="{{site.logo | relative_url}}" alt="Mike Gifford" fetchpriority="high" /></a>
{% endif %}
<figcaption>Photos were taken at the <a href="https://stateofopencon.com/">State of Open Con 25</a>. I am wearing a CivicActions jacket and T-Shirt.
Photographer: <a href="https://www.linkedin.com/in/tiana-lea-6778b3145/">Tiana Lea</a>.</figcaption>
</figure>
        
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub: {{ site.github.repository_nwo }}</a></p>
        {% endif %}
        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>